    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>
            <h2>Conference Theme</h2>

            <p>The third International Conference on Live Interfaces will take place at the University of Sussex in June, 2016. This biennial conference will bring together people working with live interfaces in the performing arts, including music, the visual arts, dance, puppetry, robotics or games. The conference scope is highly interdisciplinary but with a focus on interface technologies of expression in the area of performance. Topics of liveness, immediacy, presence (and tele-presence), mediation, collaboration and timing or flow are engaged with and questioned in order to gain a deeper understanding of the role contemporary media technologies play in human expression.</p>

            <p>Interfaces can be conceptual or material objects, and their making is concerned with the design of openings, resistance, fluidity, affordances, constraints, and expressive scope. We wish to host work that will create a space of multiplicity, in order to investigate how disciplinary concerns inform different but overlapping approaches to interface design.
            </p>

            <p>The conference consists of paper presentations, performances, interactive installations, poster demonstrations, a doctoral colloquium and workshops. Works engaging with the principles and assumptions governing interaction design, including perspectives from art, philosophy, product design and engineering are specially invited. </p>

            <br>
            <h2>Important Dates</h2>
            
            <p><b><font color="#b30000">NOTE: Extension of Deadline: February 21st! - Due to popular demand, we have decided to extend the submission deadline for ALL CATEGORIES until midnight February 21st.</font></b></p>

            <p>
            - <b>November 23rd, 2015:</b> First Call for Papers and Performances.<br>
            - <b><strike>February 8th, 2016</strike> (extension to Feb 21st!) : </b> Performance and Installation submissions deadline.<br> 
            - <b><strike>February 15th, 2016</strike> (extension to Feb 21st!) : </b> Paper, Workshops and Doctoral Colloquium submissions deadline.<br>
            - <b>April 11th, 2016:</b> Notification of results.<br>
            - <b>May 11th, 2016:</b> Camera ready paper deadline.<br>
            - <b>June 29th - July 3rd, 2016:</b> Conference at Sussex.<br>
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
