    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
            <h2>Conference Theme</h2>

            <p>The third International Conference on Live Interfaces will take place at the University of Sussex in June, 2016. This biennial conference will bring together people working with live interfaces in the arts, whether that is in the areas of music, the visual arts, dance, robotics or games. The scope is highly interdisciplinary but with a focus on interface technologies in the area of performance. Topics of liveness, immediacy, presence (and tele-presence), mediation, collaboration and timing or flow are problematised in order to gain a deeper understanding of the role contemporary media technologies play in human expression.</p>

            <p>The conference consists of paper presentations, performances, interactive installations, poster demonstrations and workshops. Works engaging with the principles and assumptions governing interaction design, including perspectives from art, philosophy, product design and engineering are specially invited. Interfaces are material objects, even if screen-based, and their design relates to material resistance, fluidity, affordances, constraints, and expressive scope. We hope to accept work which will create a space of multiplicity, in order to investigate how disciplinary concerns inform different but overlapping approaches to interface design.
            </p>

            <h2>Important Dates</h2>
            
            <p>
            - <b>November 20th, 2015:</b> First Call for Papers and Performance.<br>
            - <b>December 11th, 2015:</b> EasyChair submissions system open.<br>
            - <b>February 22nd, 2016:</b> Performance and Installation submissions deadline.<br> 
            - <b>March 1st, 2016:</b> Paper and Workshops submissions deadline.<br>
            - <b>April 11th, 2016:</b> Notification of results.<br>
            - <b>May 11th, 2016:</b> Camera ready deadline.<br>
            - <b>June 30th - July 2nd, 2016:</b> Conference at Sussex.<br>
              </div>
        </div>
    </section>
