<!-- Call for Proposals Section -->

<section id="cfp" class="container content-section text-center">
      <!--  <div class="cfp-section"> -->
    <div class="row">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                
            <h2>Call for Papers and Projects</h2>
            <p>ICLI is an interdisciplinary conference focussing on the role of interfaces in all artistic performance activities. A wide range of approaches are encouraged by people from all possible backgrounds. 
            </p>

            <h2>Topics</h2>
   
            <p>Topics include, and are not restricted to:
            <br>
            - New interfaces for musical expression<br>
            - Non-musical performance interfaces <br>
            - Multimodal and multisensory media<br>
            - Augmented stage technologies<br>
            - Audio-visual performance<br>
            - Biophysical sensors<br>
            - Brain-computer interfaces<br>
            - Artificial intelligence and ALife in interfaces<br>
            - Computer vision<br>
            - Notation for new interfaces<br>
            - Live coding in music, video, animation, dance<br>
            - Experimental gaming interfaces<br>
            - Robotic control<br>
            - Embodiment<br>
            - Haptic interfaces<br>
            - Mapping strategies and design<br>
            - The Acoustic and the digital<br> 
            - Human-Computer Interaction<br>
            - Interface design processes<br>
            - Ethnographic approaches to interface and instrument design<br>
            - Prototyping techniques<br>
            - Perceptual and cognitive issues<br>
            - Phenomenology of performance with digital media<br>
            - Philosophical and historical perspectives<br>
            - Tangible interaction<br>
            - Audience interaction<br>
            - (Un)control and/or unpredictability<br>
            - Dramaturgy/choreography/composition with digital media<br>
            - Gesture recognition and motion tracking<br>
            - Language as an interface<br>
            - Approaches to interfacing Big Data<br>
            - Interfacing noise <br>
            </p>

            <h2>Submission categories</h2>

            <p>Papers must be written in English and should comply with the <a href="http://easychair.org">Latex</a> or <a href="http://easychair.org">Word</a> templates. Full papers must be submitted (not abstracts). Authors will submit PDFs of the final version of the paper. 
            </p>

            <p>
            * Long papers (6-12 pages) <br>
            * Short papers (4-6 pages) <br>
            * Poster/demo papers (2-4 pages) <br>
            * Performances (1 page abstract, link to work, and a technical rider) <br>
            * Installations (1 page abstract, link to work, and a technical rider) <br>
            * Workshops (1 page abstract, link to work, and a technical rider) <br>
            </p>
                
            <p> Papers, performances, workshops and installations can be submitted on the conference submission system with <a href="http://easychair.org">EasyChair</a>

            </div>
        </div>
        </div>
    </div>
    <hr>
</section>