    <!-- Call for Proposals Section -->
    <section id="cfp" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

            <br/><br/>

            <h2>Call for Papers and Projects</h2>
            <p>ICLI is an interdisciplinary conference focussing on the role of interfaces in all artistic performance activities. A wide range of approaches are encouraged by people from all possible backgrounds. 
            </p>

            <h2>Topics</h2>
   
            <p>Topics include, and are not restricted to:
            <br>
            - Augmented stage technologies<br>
            - Audio-visual performance with 3D software<br>
            - Biophysical sensors<br>
            - Brain-computer interfaces<br>
            - Computer vision<br>
            - Disparities between a physical input and its digital analysis<br>
            - Dramaturgy/choreography/composition with digital media<br>
            - Gesture recognition, control and/ or unpredictability<br>
            - Language and hypertext<br>
            - Live coding in music, video, animation, dance<br>
            - Mappings between acoustic and digital sound<br>
            - Technology of night life (e.g. algorave parties)<br>
            - Perceptual and cognitive issues<br>
            - Phenomenology of performance with digital media<br>
            - Audience interaction<br>
            - Philosophical and historical perspectives<br>
            - Tangible interaction<br>
            </p>

            <h2>Submission categories</h2>

            <p>Papers must be written in English and should comply with the <a href="http://easychair.org">Latex</a> or <a href="http://easychair.org">Word</a> templates. Full papers must be submitted (not abstracts). Authors will submit PDFs of the final version of the paper. 
            </p>

            <p>
            * Long papers (6-12 pages) <br>
            * Short papers (4-6 pages) <br>
            * Poster/demo papers (2-4 pages) <br>
            * Performances (1 page abstract, link to work, and a technical rider) <br>
            </p>
                
            <p> Papers, performances, workshops and installations can be submitted on the conference submission system with <a href="http://easychair.org">EasyChair</a>

            </div>
        </div>

</section>