<!-- Keynotes Section -->
   <section id="keynotes" class="container content-section text-center">
    <div class="row">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
            
            <h2>KEYNOTES</h2>
                    
            <p><br>
            <b>Stuart Nolan: Mindreading Interface Design</b><br>

            <br>A great deal of human communication is subconscious yet existing interfaces are designed for conscious communication. The emerging combination of Thought Identification Technologies, Robotics, and Cold Data Reading will change this, opening up new ways of working, learning, performing, and mucking about. 

            <br> Mindreading Interfaces will make interaction more responsive and playful but also more mysterious, illusory, opaque, and potentially insecure. What will Mindreading Designers need to consider?

            <br> We will need to consciously design for deception and illusion or we risk building it accidentally. To do this we need to understand Illusion Design as a discipline that extends far beyond the subtle tricks and sparkly boxes of the stage magician.

            <br><b>Biography</b>

            <br> Stuart Nolan is a performer and research magician working with Illusion Design and The Mindreading Web. His Mindreading Robotics, IdeoBird and OuijaBird, developed as Magician in Residence at Pervasive Media Studio and The University of Bristol, were featured in the BBC Click Christmas Special, The Guardian, and US Wired’s Connectivity 2.0. He later developed Robomancy (Fortune Telling Robotics) as part of the Being There project (being-there.org). 
            <br> A former NESTA Fellow in Applied Magic with a background in cell biology, interactive media, and experience design, he combines traditional disciplines of deception - conjuring, psychological and physiological illusion, memory feats, hypnosis, sideshow tradition - with bespoke technology and original research into how we are deceived by language, physical gesture, and technology.  

            <br> Stuart performs internationally and is currently touring his latest work, Season of Sleeps, which premiered at the 2015 Venice Biennale. He once deceived over 700 organisations just to prove a point. 

            <img src="imgs/stuart_nolan.jpg" alt="Stuart Nolan" style="width:304px; height:228px;">

            </p>

            </div>
        </div>
    </div>
    <hr>
</section>