<!-- Organisation Section -->
<section id="organisation" class="container content-section text-center">
    <div class="row">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                
            <h2>Conference Organisation</h2>
            
            <p><strong>Organisation committee</strong></p>

            <p>The ICLI 2016 conference is organised by members of the <a href="http://www.miptl.org">Music Informatics and Performance Technologies Lab</a> at the University of Sussex:

            <p>
            Thor Magnusson, Music (general chair)<br>
            Chris Kiefer, Sussex Humanities Lab (scientific chair)<br>
            Alice Eldridge (artistic chair)<br>
            Cecile Chevalier (installations chair)<br>
            Paul McConnell (workshops chair)<br>
            Thanos Polymeneas Liontiris (technical organiser)<br>
            Joe Watson (doctoral colloquium organiser)<br>
            David Palmer (design)<br>
            xxx (club night organiser)<br>

            <p><strong>Scientific committee</strong></p>

            <p>
            <a href="http://sam.aaron.name" target="_blank">
            Samuel Aaron</a> (University of Cambridge)<br>

            <a href="http://big.cs.bris.ac.uk/people/bennett" target="_blank">
            Pete Bennett</a> (BIG / Bristol University)<br>

            <a href="http://www.sussex.ac.uk/profiles/125219" target="_blank">
            David Berry</a> (SHL / University of Sussex)<br>

            <a href="http://explodingart.com/wp/" target="_blank">
            Andrew Brown</a> (Griffiths University, Australia)<br>

            <a href="http://baptistecaramiaux.com" target="_blank">
            Baptiste Caramiaux</a> (EAVI/ Goldsmiths, University of London)<br>
            
            <a href="http://www.carvalhais.org/" target="_blank">
            Miguel Carvalhais</a> (ID+ / University of Porto)<br>
            
            <a href="http://www2.hull.ac.uk/scarborough/campus-departments/sanm/meet-the-team/maria-chatzichristodoulou.aspx" target="_blank">
            Maria Chatzichristodoulou</a> (University of Hull)<br>
                        
            <a href="http://www.sussex.ac.uk/profiles/235751" target="_blank">
            Cecile Chevalier</a> (MIPTL / University of Sussex)<br>

            <a href="http://www.manchester.ac.uk/research/ricardo.climent/" target="_blank">
            Ricardo Climent</a> (NOVARS / University of Manchester)<br>

            <a href="http://modin.yuri.at/" target="_blank">
            Geoff Cox</a> (Aarhus University)<br>

            <a href="http://www2.warwick.ac.uk/fac/cross_fac/cim/people/academic/michael-dieter/" target="_blank">
            Michael Dieter</a> (CIM/ Univercity of Warwick)<br>

            <a href="http://doc.gold.ac.uk/~mus02mg/" target="_blank">
            Mick Grierson</a> (EAVI/ Goldsmiths, University of London)<br>
          
            <a href="https://ccrma.stanford.edu/~rob//" target="_blank">
            Rob Hamilton</a> (CCRMA / Stanford University)<br>

            <a href="http://www.evdh.net/" target="_blank">
            Edwin van der Heide</a> (Leiden University/ Interfaculty The Hague)<br>

            <a href="http://www.sussex.ac.uk/profiles/172510" target="_blank">
            Kate Howland</a> (Informatics / University of Sussex)<br>
          
            <a href="http://modin.yuri.at/" target="_blank">
            Martin Kaltenbrunner</a> (ICL / University of Art and Design Linz)<br>

            <a href="http://www.ajaykapur.com" target="_blank">
            Ajay Kapur</a> (Kadenze / Cal Arts)<br>

            <a href="http://www.sussex.ac.uk/profiles/208667" target="_blank">
            Chris Kiefer</a> (SHL / University of Sussex)<br>
          
            <a href="https://shellyknotts.wordpress.com" target="_blank">
            Shelly Knotts</a> (Durham University)<br>

            <a href="http://research-db.ritsumei.ac.jp/Profiles/40/0003914/prof_e.html" target="_blank">
            Michael Lyons</a> (Ritsumeikan University)<br>

            <a href="http://www.sussex.ac.uk/profiles/164902" target="_blank">
            Thor Magnusson</a> (C4DM / Queen Mary University)<br>

            <a href="http://yaxu.org/" target="_blank">
            Alex McLean</a> (ICSRiM, University of Leeds)<br>
          
            <a href="http://andrewmcpherson.org" target="_blank">
            Andrew McPherson</a> (Universidade do Porto)<br>
            
            <a href="http://www.sussex.ac.uk/profiles/240005" target="_blank">
            Sally Jane Norman</a> (SHL / University of Sussex)<br>

            <a href="http://www.d0kt0r0.net" target="_blank">
            David Ogborn</a> (McMaster University)<br>

            <a href="http://ruipenha.pt/biography/" target="_blank">
            Rui Penha</a> (Universidade do Porto)<br>

            <a href="http://www.sarc.qub.ac.uk/sites/sarc/People/Staff/ProfessorPedroRebelo/" target="_blank">
            Pedro Rebelo</a> (SARC/ School of Creative Arts Belfast)<br>
    
            <a href="http://www.sussex.ac.uk/profiles/240005" target="_blank">
            Hester Reeve</a> (SHL / University of Sussex)<br>

             <a href="http://www.arj.no" target="_blank">
            Alexander Refsum Jensenius</a> (University of Oslo)<br>
            
            <a href="http://lmlr.wordpress.com/about/" target="_blank">
            Luisa Ribas</a> (ID+/ FBA-UL, University of Lisbon)<br>

            <a href="http://adrianasa.planetaclix.pt/texts_w_menu/home.htm" target="_blank">
            Adriana Sá</a> (EAVI/ Goldsmiths, University of London)<br>
       
            <a href="http://www.socasites.qub.ac.uk/fschroeder/" target="_blank">
            Franziska Schroeder</a> (SARC/ School of Creative Arts Belfast)<br>

            <a href="http://willschrimshaw.net" target="_blank">
            Will Scrimshaw</a> (Edge Hill University)<br>

            <a href="http://blog.sicchio.com" target="_blank">
            Kate Sicchio</a> (University of New York)<br>

            <a href="http://ryanrosssmith.com" target="_blank">
            Ryan Ross Smith</a> (Rensselaer Polytechnic Institute)<br>
   
            <a href="http://www.scattershot.org" target="_blank">
            Jeff Snyder</a> (Princeton University)<br>
            
            <a href="http://mlab.taik.fi/~korayt/" target="_blank">
            Koray Tahiroğlu</a> (Aalto University)<br>

            <a href="http://eavi.goldsmithsdigital.com/staff/prof-atau-tanaka/" target="_blank"> 
            Atau Tanaka</a> (EAVI/ Goldsmiths, University of London)<br>
            
            <a href="http://www.yeeking.net" target="_blank">
            Matthew Yee-King</a> (University of Oslo)<br>

            <a href="http://marjz.net" target="_blank">
            Martin Zeilinger</a> (Anglia Ruskin University)<br>


</p>


            <p><strong><strong>ICLI Steering Committee</strong></strong></p>
            <p>
            Alex McLean (ICSRiM / University of Leeds)<br>
            Kate Sicchio (New York University)<br>
            Adriana Sa (EAVI / Goldsmiths, University of London)<br>
            Miguel Carvalhais (ID+ / University of Porto)<br>
            Thor Magnusson (MIPTL / University of Sussex)<br>
            Sally Jane Norman (SHL / University of Sussex)<br>
            Maria Chatzichristodoulou (University of Hull)
            </p>

            <p><strong>Organisation support</strong></p><br>
            <p>
            xxx<br>
            xxx<br>
            xx / <a href="http://www.github.org">hoho</a>
            </p>


            <p><strong>Design: </strong><a href="http://www.google.com">David Palmer</a></p>

                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
      </div>
      </div>
      <hr>

</section>