    <!-- Download Section -->
    <section id="organisation" class="container content-section text-center">
        <div class="row">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>     <p><strong><strong>Planning team</strong></strong></p>
<p>Adriana Sa, EAVI/ Goldsmiths, University of London (general chair)<br />
Alex McLean, ICSRiM/ University of Leeds (co-chair)<br />
Miguel Carvalhais, ID+ / University of Porto (co-chair)<br />
Teresa Cruz, CECL/ Nova University Lisbon<br />
Kia Ng, ICSRiM/ University of Leeds<br />
Isabel Pires, CESEM/ Nova University<br />
Luisa Ribas, Fine Arts Faculty/ University of Lisbon<br />
Maria Chatzichristodoulou, University of Hull</p>
<p><strong>Technical coordination: </strong>John Klima/ Scratchbuilt Studios</p>
<p><strong>Scientific committee</strong></p>
<p><a href="http://sam.aaron.name" target="_blank">Samuel Aaron</a> (University of Cambridge)<a href="http://baptistecaramiaux.com" target="_blank"><br />
Baptiste Caramiaux</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://www.carvalhais.org/" target="_blank">Miguel Carvalhais</a> (ID+ / University of Porto)<br />
<a href="http://www2.hull.ac.uk/scarborough/campus-departments/sanm/meet-the-team/maria-chatzichristodoulou.aspx" target="_blank">Maria Chatzichristodoulou</a> (University of Hull)<br />
<a href="http://www.cecl.com.pt/pt/investigacao/investigadores/99-maria-teresa-cruz?catid=39%3Ainvestigadores-integrados" target="_blank">Teresa Cruz</a> (CECL/ Nova University Lisbon)<br />
<a href="http://www.iade.pt/unidcom/live/?l=researchers" target="_blank">Emilia Duarte</a> (IADE Creative University)<br />
<a href="http://doc.gold.ac.uk/~mus02mg/" target="_blank">Mick Grierson</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://www.evdh.net/" target="_blank">Edwin van der Heide</a> (Leiden University/ Interfaculty The Hague)<br />
<a href="http://modin.yuri.at/" target="_blank">Martin Kaltenbrunner</a> (ICL / University of Art and Design Linz)<br />
<a href="http://yaxu.org/" target="_blank">Alex McLean</a> (ICSRiM, University of Leeds)<br />
<a href="http://www.sussex.ac.uk/profiles/164902" target="_blank">Thor Magnusson</a> (University of Sussex)<br />
<a href="http://www.comp.leeds.ac.uk/kia" target="_blank">Kia Ng</a> (ICSRiM/ University of Leeds)<br />
<a href="http://ruipenha.pt/biography/" target="_blank">Rui Penha</a> (Universidade do Porto)<br />
<a href="http://www.ulusofona.pt/directorio-de-docentes/carlos-manuel-pimenta.html" target="_blank">Carlos Pimenta</a> (Lusófona University)<br />
<a href="http://cesem.fcsh.unl.pt/investigacao/investigadores/investigadores-integrados/isabel-pires" target="_blank">Isabel Pires</a> (CESEM/ Nova University)<br />
<a href="http://www.sarc.qub.ac.uk/sites/sarc/People/Staff/ProfessorPedroRebelo/" target="_blank">Pedro Rebelo</a> (SARC/ School of Creative Arts Belfast)<br />
<a href="http://lmlr.wordpress.com/about/" target="_blank">Luisa Ribas</a> (ID+/ FBA-UL, University of Lisbon)<br />
<a href="http://adrianasa.planetaclix.pt/texts_w_menu/home.htm" target="_blank">Adriana Sa</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://www.pocketopera.info/ArtistsDanielSchorno.html" target="_blank">Daniel Schorno</a> (STEIM)<br />
<a href="http://www.socasites.qub.ac.uk/fschroeder/" target="_blank">Franziska Schroeder</a> (SARC/ School of Creative Arts Belfast)<br />
<a href="http://eavi.goldsmithsdigital.com/staff/prof-atau-tanaka/" target="_blank">Atau Tanaka</a> (EAVI/ Goldsmiths, University of London)</p>
<p><strong>Reviewers<br />
</strong></p>
<p><a href="http://sam.aaron.name" target="_blank">Samuel Aaron</a> (University of Cambridge)<br />
<a href="http://music.leeds.ac.uk/people/joanne-armitage/" target="_blank">Joanne Armitage</a> (University of Leeds)<br />
<a href="www.mattbenatan.com" target="_blank">Matt Benatan</a> (University of Leeds)<br />
<a href="http://baptistecaramiaux.com" target="_blank">Baptiste Caramiaux</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://www.carvalhais.org/" target="_blank">Miguel Carvalhais</a> (ID+ / University of Porto)<br />
<a href="http://www2.hull.ac.uk/scarborough/campus-departments/sanm/meet-the-team/maria-chatzichristodoulou.aspx" target="_blank">Maria Chatzichristodoulou</a> (University of Hull)<br />
<a href="http://www.cecl.com.pt/pt/investigacao/investigadores/99-maria-teresa-cruz?catid=39%3Ainvestigadores-integrados" target="_blank">Teresa Cruz</a> (CECL/ Nova University Lisbon)<br />
<a href="http://www.iade.pt/unidcom/live/?l=researchers" target="_blank">Emilia Duarte</a> (IADE Creative University)<br />
<a href="http://modin.yuri.at/" target="_blank">Martin Kaltenbrunner</a> (ICL / University of Art and Design Linz)<br />
<a href="http://luuma.net/" target="_blank">Chris Kiefer</a> (EAVI/ Goldsmiths &amp; Sussex University)<br />
<a href="http://www.cityarts.com/" target="_blank">John Klima</a> (Scratchbuilt studios)<br />
<a href="http://yaxu.org/" target="_blank">Alex McLean</a> (ICSRiM, University of Leeds)<br />
<a href="http://www.sussex.ac.uk/profiles/164902" target="_blank">Thor Magnusson</a> (University of Sussex)<br />
<a href="http://www.comp.leeds.ac.uk/kia" target="_blank">Kia Ng</a> (ICSRiM/ University of Leeds)<br />
<a href="http://eavi.goldsmithsdigital.com/staff/dr-adam-parkinson/" target="_blank">Adam Parkinson</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://ruipenha.pt/biography/" target="_blank">Rui Penha</a> (Universidade do Porto)<br />
<a href="http://www.ulusofona.pt/directorio-de-docentes/carlos-manuel-pimenta.html" target="_blank">Carlos Pimenta</a> (Lusófona University)<br />
<a href="http://cesem.fcsh.unl.pt/investigacao/investigadores/investigadores-integrados/isabel-pires" target="_blank">Isabel Pires</a> (CESEM/ Nova University)<br />
<a href="http://robinprice.net/" target="_blank">Robin Price</a> (SARC/ School of Creative Arts Belfast)<br />
<a href="http://www.sarc.qub.ac.uk/sites/sarc/People/Staff/ProfessorPedroRebelo/" target="_blank">Pedro Rebelo</a> (SARC/ School of Creative Arts Belfast)<br />
<a href="http://lmlr.wordpress.com/about/" target="_blank">Luisa Ribas</a> (ID+/ FBA-UL, University of Lisbon)<br />
<a href="http://adrianasa.planetaclix.pt/texts_w_menu/home.htm" target="_blank">Adriana Sa</a> (EAVI/ Goldsmiths, University of London)<br />
<a href="http://www.pocketopera.info/ArtistsDanielSchorno.html" target="_blank">Daniel Schorno</a> (STEIM)<br />
<a href="http://www.socasites.qub.ac.uk/fschroeder/" target="_blank">Franziska Schroeder</a> ((SARC/ School of Creative Arts Belfast)<br />
<a href="http://eavi.goldsmithsdigital.com/staff/prof-atau-tanaka/" target="_blank">Atau Tanaka</a> (EAVI/ Goldsmiths, University of London)</p>
<p><strong>Organization support<br />
</strong></p>
<p>Raquel Castro<br />
Silvia Firmino<br />
Rajele Jain / <a href="http://www.vipulamati.org">VIPULAMATI Associação</a></p></p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
                            <hr>

    </section>