    <!-- About Section -->
    <section id="proceedings" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>ICLI Proceedings</h2>

        
<img src="img/reframe.png" width="767" alt="ICLI 2016 Proceedings">
<br><br>

<b>Proceedings of the 2016 International Conference on Live Interfaces, edited by Thor Magnusson, Chris Kiefer and Sam Duffy</b><br>

<p>Published by the <a href="http://www.emutelab.org">Experimental Music Technologies (EMuTe) Lab</a>, University of Sussex, in collaboration with <a href="http://reframe.sussex.ac.uk/reframebooks">REFRAME Books</a>, Falmer, UK.</p>

<p><b> ISBN: 978-0-9931996-8-4 </b></p>


<a href="http://users.sussex.ac.uk/~thm21/ICLI_proceedings/ICLI-2016-ProceedingsHI.pdf">ICLI 2016 Proceedings - High resolution PDF</a> (205 MB)
<br><a href="http://users.sussex.ac.uk/~thm21/ICLI_proceedings/ICLI-2016-ProceedingsLO.pdf">ICLI 2016 Proceedings - Low resolution PDF</a> (25 MB)
<br><br>
<p>Video documentation of the <a href ="https://www.youtube.com/playlist?list=PLZYaObEdMoIynz3d18nIinob2G_pL9iXZ"> ICLI conference</a></p>


<p>The proceedings of the <a href="http://liveinterfaces.org">Live Interfaces</a> conference are the outcome of a five-day gathering at the University of Sussex's Attenborough Centre for the Creative Arts in June 2016. The biennial ICLI conference is interdisciplinary and practice-based, unique in that it focuses on the role of performance interfaces across all of the performing arts. This year it became clear that ICLI has become an established platform for people operating in diverse sections of the arts to meet and discuss the embodied use of technology in live performance. With a focus on practice, the conference emphasised the role of performances, workshops and installations as well as papers and posters.</p>

<p>With submissions from musicians, dancers, roboticists, brain scientists, visual artists, philosophers, animators, sculpturists, and more, the proceedings illustrate the range of activities encompassed by this lively platform for knowledge exchange and new performance practices. The proceedings were peer reviewed and include long and short papers, doctoral colloquium papers, performance installation and workshop descriptions, as well as some documentation of the event itself. Much of the conference was also filmed and can be found on the YouTube channel linked to above.
</p>
<br>
<p>See video documentation on the <a href="https://www.youtube.com/embed/l5vDKEZsJjY?list=PLZYaObEdMoIynz3d18nIinob2G_pL9iXZ">YouTube playlist</a> here below:</p>
<iframe width="757" height="477" src="https://www.youtube.com/embed/l5vDKEZsJjY?list=PLZYaObEdMoIynz3d18nIinob2G_pL9iXZ" frameborder="0" allowfullscreen></iframe>
    
        <br><br/>
                    <p> The proceedings from the <a href="http://icli.lurk.org" target="_blank">2014 ICLI conference</a> in Lisbon can be found <a href="http://www.liveinterfaces.org/proceedings2014.html" target="_blank">here</a>.</p>

<br/><br/>

            </div>
        </div>
    </section>
