    <!-- Programme Section -->
    <section id="programme" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/>

            
            <h2>(PRELIMINARY) PROGRAMME</h2>
                    
            <p><br>

            <b>June 29th - Wednesday</b><br> 
            Workshops with instrument builders, composers, performers. In different rooms across campus, perhaps AC towers.</p>
            <p>
            <b>June 30th - Thursday:</b><br></p>
            <p>
            Workshops<br>
            Demos<br>
            Posters<br>
            Keynote in Attenborough Centre Auditorium<br>
            Performances in the AC auditorium<br>
            Welcome reception in the AC cafe w. food<br>
            </p>

            <p>
            <b>July 1st - Friday:</b>
            </p>
            <p>
            Papers<br>
            Installations<br>
            Performances<br>
            Short papers<br>
            Evening performances<br>
            Conference dinner<br>
            Algorave in a Brighton club<br>
            </p>

            <p>
            <b>July 2nd - Saturday:</b>
            </p>

            <p>
            Installations<br>
            Papers<br>
            Posters<br>
            Lunchtime performances in Attenborough Centre<br>
            Panel session<br>
            Club night<br>
            </p>

            <p>
            <b>July 3rd - Sunday (optional):</b>
            </p>

            <p>
            Sussex Downs Pub Walk
            </p>
              </div>
        </div>
    </section>
