    <!-- Programme Section -->
    <section id="programme" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            
            <p>The full programme with locations and times: <a href="fullprogramme.html">ICLI 2016 PROGRAMME</a>.
            <br><br>
            

            <p><b>June 29th - Wednesday:</b><br></p>

            Doctoral colloquium in the Sussex Humanities Lab<br>
            Workshops with instrument builders, composers and performers<br>
            <li> Magnetic Resonator Piano</li>
            <li> The halldorophone</li>

            <br>
            <p><b>June 30th - Thursday:</b><br></p>
            
            Workshops<br>
            Organ Concert (Meeting House)<br>
            Stuart Nolan Keynote (ACCA auditorium)<br>
            Performances of pieces from workshops (ACCA auditorium)<br>
            Welcome reception with food and drinks (ACCA)<br>

            <br>
            <p><b>July 1st - Friday:</b></p>

            Papers<br>
            Installations<br>
            Performances<br>
            Short papers<br>
            <b>Kristina Andersen</b> - Keynote in the Attenborough Centre Auditorium<br>
            Afternoon performances<br>
            Conference dinner in St Mary's Church<br>
            Evening Performances in St Mary's, Kemptown<br>
            
            <br>
            <p><b>July 2nd - Saturday:</b></p>

            Installations<br>
            Demos and Posters<br>
            <b>Roman Paska</b> - Keynote in the Attenborough Centre Auditorium<br>
            Lunchtime performances in Attenborough Centre<br>
            Papers<br>
            Panel session<br>
            Club night in the Bleach Club on London Road<br>

            <br>
            <p><b>July 3rd - Sunday:</b></p>

            Modular Synth Meet on campus in the ACCA<br>
            Sussex Downs Pub Walk<br>
            
            <br/><br/><br/>

            </div>
        </div>
    </section>
