    <!-- About Section -->
    <section id="registration" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration</h2>
        
        <p>Registration will open in April, 2016.</p>

        <p>Registration fees will be kept low (above £80, but below £200): they will pay for lunches, coffee and tea, room rentals and other related costs of running an academic conference. There will be a student discount.</p>

        <!--
        <p>Registration will open on April 11th, 2016. (UPDATE)</p>
        
        <p>
        <table class="col-lg-8 col-lg-offset-1">
            <tr>
            <td> </td><td>Early<br></td><td>Late</td>
            </tr>
            <tr>
            <td>Regular Fee</td><td>£xx</td><td>£xx</td>
            </tr>
            <tr>
            <td>Discount Fee</td><td>£xx</td><td>£xx</td>
            </tr>           
        </table>
        </p><br><br><br> <br>

        <p>Early registration ends on May 11th (UPDATE) <br>      
        Discount fee is for students and non-academics (DISCUSS)</p>      
        -->

        <p>
        Registration fees include:<br>
        - Attendance to paper and poster sessions, concerts, workshops and keynote<br>
        - Conference guide and electronic proceedings<br>
        - Lunch and coffee on all the days<br>
        
        <p>Accomodation is not included in conference fees, but we recommend booking on-campus rooms with <a href="http://www.sussex.ac.uk/residentialservices/" target="_blank">Residential Services</a>, or if you would like to spend the night in the city, the <a href="http://www.bedandbreakfasts.co.uk/university-of-sussex/" target="_blank">Bed and Breakfasts</a> guide could be helpful in finding good prices. Brighton is very popular destination with tourists in the summer, so booking early is a good idea.</p>


        <p>Please register through the <a href= "http://onlineshop.sussex.ac.uk" target="_blank"> University of Sussex Online Shop</a> 
        </p>
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
