    <!-- About Section -->
    <section id="registration" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration and Accommodation</h2>

        
        <p>Registration is now open and tickets can be purchased through the University of Sussex Online Shop. </p>
<br>

<table border="0" width="60%">
<tr>
<td>
   <table border="0" width="70%">
   <tr>
   <th></th>
   <th>Early</th>
   <th>Late</th>
   </tr>
   <tr>
   <td>Full Conference Fee</td>
   <td>£120</td>
   <td>£140</td>
   </tr>
   <tr>
   <td>Reduced Fee</td>
   <td>£95</td>
   <td>£110</td>
   </tr>
   <tr>
   <td>Two-day workshops</td>
   <td>£50</td>
   <td>£50</td>
   </tr>
   <tr>
   <td>One-day workshops</td>
   <td>£30</td>
   <td>£30</td>
   </tr>
   <tr>
   <td>Half-day workshops</td>
   <td>£15</td>
   <td>£15</td>
   </tr>
   </table>
</td>
</tr>
</table>
 <br>

        <p>Early-bird registration ends on May 25th. The reduced fee is for students and the unemployed.</p>      
        
        The conference registration fee includes:<br>
        - Attendance to paper sessions, poster and demo sessions, concerts and keynotes<br>
        - Conference guide and electronic proceedings<br>
        - Lunch and coffee on all the days, as well as a conference dinner<br>

        <p>Please register for the conference through the <a href= "http://onlineshop.sussex.ac.uk/browse/extra_info.asp?compid=1&modid=1&catid=95&prodvarid=205" target="_blank"> <u>University of Sussex Online Shop: Conference Registration</u></a> 
        </p>
       
        <p><b>NEW</b>: due to local interest in the event, we have decided to offer non-academic day passes for the conference, which makes it more feasible for the general public to participate in the conference. These tickets can be bought on the <a href= "http://onlineshop.sussex.ac.uk/browse/extra_info.asp?compid=1&modid=1&deptid=24&catid=95&prodvarid=223" target="_blank"> <u>University of Sussex Online Shop: Day Tickets</u></a> 
        </p>

	      <p>Tickets for the <u><a href="https://www.facebook.com/events/881852698627470/" target="_blank">Live Interfaces @ St. Mary's</u></a> and <u><a href="https://www.facebook.com/events/138947953176866/" target="_blank">Live Interfaces @ Bleach</a></u> can be purchased on the door.</p>
    
    

        <p><b>Accomodation</b> is not included in the conference fee, but it is possible to book rooms on campus with <a href="http://www.sussex.ac.uk/study/accommodation/holiday" target="_blank"><u>Residential Services</u></a>. Here, the minimum stay is 7 nights (but prizes can be quite low). Another option is to book accommodation through our partner <a href="https://resweb.passkey.com/go/ICLI2016" target="_blank"><u>Visit Brighton</u></a> where you can find accommodation on campus and in the city. Yet another possibility is to find use the exhaustive<a href="http://www.bedandbreakfasts.co.uk/university-of-sussex/" target="_blank"> <u>Bed and Breakfasts</u></a> guide. 

        <p>Brighton is a very popular destination with tourists in the summer, so booking early is a good idea.</p>
              
        <br/><br/><br/>

            </div>
        </div>
    </section>
