    <!-- About Section -->
    <section id="registration" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration and Accommodation</h2>

        
        <p>The registration is now open and tickets can be purchased through the University of Sussex Online Shop. </p>
<br>

<table border="0" width="60%">
<tr>
<td>
   <table border="0" width="70%">
   <tr>
   <th></th>
   <th>Early</th>
   <th>Late</th>
   </tr>
   <tr>
   <td>Regular Fee</td>
   <td>£120</td>
   <td>£140</td>
   </tr>
   <tr>
   <td>Discount Fee</td>
   <td>£95</td>
   <td>£110</td>
   </tr>
   <tr>
   <td>Two-day workshops</td>
   <td>£50</td>
   <td>£50</td>
   </tr>
   <tr>
   <td>One-day workshops</td>
   <td>£30</td>
   <td>£30</td>
   </tr>
   <tr>
   <td>Half-day workshops</td>
   <td>£15</td>
   <td>£15</td>
   </tr>
   </table>
</td>
</tr>
</table>
 <br>

        <p>The early-bird registration ends on May 25th. The discount fee is for students and the unemployed.</p>      
        
        <p>
        The registration fee includes:<br>
        - Attendance to paper sessions, poster and demo sessions, concerts and keynotes<br>
        - Conference guide and electronic proceedings<br>
        - Lunch and coffee on all the days, as well as a conference dinner<br>


        <p>Please register for the conference through the <a href= "http://onlineshop.sussex.ac.uk/browse/extra_info.asp?compid=1&modid=1&catid=95&prodvarid=205" target="_blank"> University of Sussex Online Shop</a> 
        </p>
       <br>

        <p>Accomodation is not included in conference fees, but it is possible to book rooms on campus with <a href="http://www.sussex.ac.uk/residentialservices/" target="_blank">Residential Services</a>. Here, the minimum stay is 7 nights (but with prizes as low as £17 per night). Another option is to book accommodation through our partner <a href="https://resweb.passkey.com/go/ICLI2016" target="_blank">Visit Brighton</a> where you can find accommodation on campus and in the city. Yet another possibility is to find accommodation through the <a href="http://www.bedandbreakfasts.co.uk/university-of-sussex/" target="_blank">Bed and Breakfasts</a> guide. 

        <p>Brighton is a very popular destination with tourists in the summer, so booking early is a good idea.</p>

              
        <br/><br/><br/>

            </div>
        </div>
    </section>
