    <!-- Keynotes Section -->
    <section id="workshops" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>
            <h2>WORKSHOPS</h2>
			
			<p>The ICLI conference will host a number of workshops, but we have decided to invite two instrument builders, Andrew McPherson and Halldor Ulfarsson, to run workshops on the theme of augmented resonating instruments.</p> 

			<p>We invite composers, performers and improvisers for two invited workshops with new resonating instruments. The workshops are collaborative, focussing on knowledge exchange between instrument builders, composers and performers. The workshops will focus on the Halldorophone (URL) and the Magnetic Resonator Piano (URL). Both of these instruments are novel and unique, but with an extended history of being composed for and played at concerts around the world. Topics of new instruments, new notation, archival of musical works, interpretation of new works, and how to adapt embodied playing techniques of familiar interfaces with new functionality.</p>

			<p>These two-day workshops will be structured such that in the morning of the first day, the inventor will present the instrument, its history and workings. Then participants will be able to try and explore the instrument. Discussions regarding performance, improvisation and new notation will be chaired by the instrument maker. After lunch, people will work solo or in pairs/groups (e.g., composer-performer duos) on a musical piece which could be notated or of improvisational nature. A regrouping in the evening offers an opportunity to discuss the experiments and successes/failures of the day, leading to a dinner in a restaurant. The next day the workshops will continue in the morning, focussing on practicing and finishing the pieces. In the evening the work will be performed in the Attenborough Centre Auditorium LINK. The pieces will be recorded (audio and video) and published online (subject to approval).</p>

			<p>Participating in the workshop will be a cellist and a pianist with experience of playing the new instruments. This can be helpful for both composers and other performers.</p>

            <p><br>
            <h4><b>Workshop 1: The Halldorophone</b></h4>

			<p>Halldoropohones are electro acoustic string instruments developed by Halldór Úlfarsson. The instrument is cello-like in its configuration but with unique features that define the method of playing and facilitate its unusal timbre.</p>

			<p>The halldorophone has been composed for unaccompanied and in enesemble by a growing number composers in the past decade. Recently a seminar on conventions in composing for halldorophone was held at the Icelandic Academy of Arts, Music department with a panel of composers who have worked with the instrument in recent years.</p>

            <div class="image-wrapper">
			<img src="img/halldorophone.jpg" alt="Halldorophone" class="scale-image" />
			<div />

            <br><b>Workshop leader, Halldor Ulfarsson:</b><br>

            <p>Halldór Úlfarsson is an artist and designer based in Iceland. His practice mostly involves developing projects and collaborations around his electro acoustic string instrument the halldorophone which he has been developing for about a decade. Halldór has a degree from the Finnish Academy of Fine Art and an MA in design from TAIK (Helsinki). He currently works for the department of design at the Icelandic Academy of the Arts.</p>
			
			<p>A video of the halldorophone in action can be viewed <a href="http://thanospl.net" target="_blank">here</a></p>

			<br><br>
        
                    <p><br>
            <h4><b>Workshop 2: The Magnetic Resonator Piano</b></h4>

			<p>Halldoropohones are electro acoustic string instruments developed by Halldór Úlfarsson. The instrument is cello-like in its configuration but with unique features that define the method of playing and facilitate its unusal timbre.</p>

			<p>The halldorophone has been composed for unaccompanied and in enesemble by a growing number composers in the past decade. Recently a seminar on conventions in composing for halldorophone was held at the Icelandic Academy of Arts, Music department with a panel of composers who have worked with the instrument in recent years.</p>

            <div class="image-wrapper">
			<img src="img/halldorophone.jpg" alt="Halldorophone" class="scale-image" />
			<div />

            <br><b>Workshop leader, Halldor Ulfarsson:</b><br>

            <p>Halldór Úlfarsson is an artist and designer based in Iceland. His practice mostly involves developing projects and collaborations around his electro acoustic string instrument the halldorophone which he has been developing for about a decade. Halldór has a degree from the Finnish Academy of Fine Art and an MA in design from TAIK (Helsinki). He currently works for the department of design at the Icelandic Academy of the Arts.</p>
			
			<p>A video of the halldorophone in action can be viewed <a href="http://thanospl.net" target="_blank">here</a></p>

			<br><br>

        <!--
            <img src="img/kristina_andersen.jpg" alt="Kristina Andersen" style="width:767px;">
        -->



            <br/><br/><br/>

      <!--

            <img src="img/roman_paska.jpg" alt="Roman Paska" style="width:767px;">
        -->
        
              </div>
        </div>
    </section>
